.customize {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    font-size: 16px;
    color: #6D6D6D;
  }
  
  .customize h2 {
    margin-bottom: 20px;
  }
  
  .customize-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .customize-section input[type="color"] {
    width: 60px;
    height: 40px;
    border: none;
    padding: 0;
    background: transparent;
  }
  
  .logo-preview {
    width: 120px;
    height: auto;
    object-fit: contain;
    border: 1px solid #ddd;
  }
  
  
  .customize-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  